* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #95a5a6;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #95a5a6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #95a5a6;
}

.page-actions-cont {
    height: 3rem;
    background-color: green;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}

.page-actions-cont>* {
    cursor: not-allowed;
}

.page-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 2rem;
    color: #ffffff;
}

.selected-page-action {
    background-color: lightgray;
    color: green;
}

.material-icons {
    cursor: pointer;
}

.cellprop-actions-cont {
    height: 3rem;
    background-color: #63cdda;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cellprop-actions-cont>*:hover {
    /* cursor: pointer; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cellprop-actions-cont>* {
    display: inline-block;
    margin-right: 1rem;
}

.cellprop-actions-cont>select {
    border: none;
    border-radius: 1px;
    outline: none;
}

.font-family-prop {
    padding: 0.2rem;
}

.font-size-prop {
    padding: 0.2rem;
}

.color-prop {
    position: relative;
}

.color-prop>input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.formula-actions-cont {
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: #63cdda;
    padding-left: 1rem;
}

.formula-actions-cont>* {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-icon {
    width: 1.3rem;
}

.address-bar {
    width: 5rem;
    text-align: center;
}

.formula-bar {
    width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.formula-actions-cont>input {
    border: none;
    outline: none;
    height: 70%;
}

.sheet-actions-cont {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
    background-color: #7efff5;
}

.sheet-actions-cont>* {
    display: inline-block;
}


.sheet-add-icon {
    width: 2vw;
}

.sheets-folder-cont {
    display: flex;
    overflow: auto;
    align-items: center;
    height: 80%;
    width: 5rem;
    width: calc(100vw - 2vw);
}

.sheet-folder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}

.sheet-content {
    width: 5rem;
    text-align: center;
    cursor: pointer;
}

.grid-cont {
    position: relative;
    height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
    overflow: scroll;
    background-color: #ecf0f1;
}

.top-left-dummy-box {
    height: 2rem;
    width: 2rem;
    background-color: #596275;
    position: fixed;
    z-index: 10;
}

.address-col-cont {
    position: sticky;
    top: 2rem;
    left: 0;
}

.address-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border: 2px solid #dfe4ea;
}

.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
}

.address-row-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
    z-index: 3;
}

.address-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
    border: 2px solid #dfe4ea;
    text-align: center;
}

.row-cont-flex {
    display: flex;
}

.address-cell {
    height: 2rem;
    width: 5rem;
    border: 2px solid #dfe4ea;
    /* outline: none; */
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #576574;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 4px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */

    opacity: 0.7;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}